.navbar-header{
    width: 100%;
    background-color: #ededed;
    text-align: right;
    padding: 5px;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 30px;
}

.navbar-header .user-infos{
    margin-right: 30px;
}

.navbar-header .user-infos .username, .navbar-header .login{
    font-weight: bold;
    font-size: 17px;
}

.navbar-header .user-infos form{
    display: inline-block;
}

.navbar-header .logout{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgba(202, 5, 5, 0.8);;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100%;
    background-color: #2a3f54;
    color: white;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}

.navbar img{
    width: 100%;
}

.navbar ul{
    width: 100%;
    margin-top: 35px;
}

.navbar li{
    float: initial;
}

.navbar li a{
    color: white;
}

.navbar li i{
    margin-right: 5px;
    font-size: 18px;
    text-align: center;
    width: 20px;
}

.navbar li a:hover, .navbar li.active a{
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-right: 3px solid #9ee493;
}

.navbar .navbar-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #172b46;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.navbar .navbar-bottom footer{
    text-align: center;
    color: white;
    display: inline-block;
}

.navbar .navbar-bottom .devs a{
    color: white;
    display: inherit;
    line-height: 1.6;
}

.navbar .navbar-bottom .dev-names{
    font-size: 12px;
}

/* Fix the size of the container with the nav width, need to have a media queries for center the content*/
#page{
    padding-left: 245px;
}

@media screen and (max-width: 1430px) {
    .container{
        padding-left: 245px;
    }
    #page{
        padding-left: 0;
    }
}
